// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board {
	height: 170px;
	border: 1px solid #e3e6e8;
	background-color: white;
}

.add-new-board {
	background-color: #f4f6f6;
}
