<!DOCTYPE html>
<html>
<head>
  <title>Taskapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse main-topbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="" class="navbar-brand">TaskApp</a>
		</div>
			<p class="navbar-text navbar-right user-top">dupa</p>
	</div>
</nav>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-left navbar-text">
			<ul class="nav navbar-nav">
				<li>Dupa</li>
				<li>Dupa 2</li>
			</ul>
		</div>
	</div>
</nav>


<div class="container"><%= yield %></div>

</body>
</html>
